/* index-large.css (Large Screens) */

@media (min-width: 768px) {
    /* Show desktop navigation */
    nav {
        display: block;
        text-align: center;
    }

    #nav-links {
        display: flex; /* Display horizontally on desktop */
        position: static;
        flex-direction: row;
    }

    #nav-links a {
        padding: 15px 20px;
        margin: 0 10px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    main {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #courses {
        width: 60%;
    }

    footer {
        margin-top: 50px;
    }

    .filters {
        display: flex;
        justify-content: center;
    }

    .filters button {
        margin: 10px;
    }

    /* Ensure course cards are displayed side by side on larger screens */
    #course-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .course-card {
        width: 250px;
    }
}
